/* =======================================================
   HEADER
   ======================================================= */   
   header {
    position: absolute;        /* Position fixe en haut de la page */
    top: 0;
    width: 100%;               /* Largeur totale */
    display: flex;             /* Organisation en flexbox */
    align-items: center;       /* Alignement vertical */
    justify-content: space-between; /* Sépare logo et menu */
    background-color: #070320; /* Couleur de fond */
}

.header-container {
    padding: 0 30px;           /* Espacement interne gauche/droite */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 50px;
    height: auto;
    transition: 0.3s ease-in-out; /* Animation fluide */
    margin: 0px;
}

header img:hover {
    transform: scale(1.2);     /* Zoom au survol */
    rotate: 10deg;             /* Rotation légère */
}

header .menu {
    display: flex;
    gap: 0px;                 /* Espacement entre les liens */
}

header .menu a {
    text-decoration: none;     /* Supprime le soulignement */
    font-size: 16px;
    padding: 10px;
    transition: 0.3s ease-in-out;
}

header .menu a:hover {
    transform: scale(1.05);    /* Zoom au survol */
    border-radius: 6px;        /* Coins arrondis */
}

/* Couleur des liens */
#acceuil {
    color: #ffffff;
}
#scores {
    color: #ffffff;
}

#moncompte{
    color: #ffffff;

}
#contact {
    border-radius: 6px;
    background-color: rgb(255, 0, 0); /* Rouge vif */
    color: #ffffff;
}
#contact:hover {
    box-shadow: 0 0 5px #ff0303; /* Lueur rouge */
    transform: scale(1.05);
}


body {
    background-color: #070320;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    padding-top: 80px;
    
}



p {
    color: black;
}

h1 {
    color: black;
}

a {
    color: black;
}

h2 {
    color: black;
}

h3 {
    color: black;
}

label {
    color: black;
}

h4 {
    color: black;
    margin : 0px;
}




/*Compte*/
.account {
    background-color: white;
    border-radius: 12px;
    width: 80%;
}

.account img {
    width: auto;
    height: 120px;
    border-radius: 90%; 
    margin-right:  50px;
}

.title {
    display: flex;
    margin-bottom: 0px;
    justify-content: space-between;
    padding: 0px 20px;
}

.title h3 {
    text-decoration: underline;
}


.infos-compte {
    padding: 0px 20px 20px 20px;
}


form {
    display: flex;
    flex-direction: column;
}

.password {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    height: 30px;
    max-width: 300px;
    border-radius: 6px;
    border: 1px solid black;
    padding: 0px 10px;
    transition: 0.3s ease-in-out;
}

input:hover{
    transform: scale(1.05);
}

button {
    font: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 25px;
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 6px;
    background-color: red;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    box-shadow: 0 0 5px #e30613;
    transform: scale(1.05);
}

.changeMail{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.changeMail input{
    max-width: 800px;    
}

/* =======================================================
   FOOTER
   ======================================================= */
   footer {
    margin-top: 100px;
    width: 100%;
    background-color: white;
    flex-direction: column;
}

.footer-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    color: black !important;
}

footer a {
    color: black !important;
    text-decoration: none;
}

/* Blocs internes du footer */
.footer1 {
    justify-content: start;
    height: 215px;
}

.footer2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 215px;
}

.footer3 {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer3 p {
    margin-bottom: 0px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    font-size: 13px;
}

#logo {
    height: 50px;
    margin: 5px;
}

footer hr { 
  border: 1px solid black;
}

.reseaux {
  display: flex;
  gap: 10px; 
  margin-top: 180px;
  align-items: end;               /* Espacement entre icônes */
}

.reseau-icon {
    width: 40px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s;
}

.reseau-icon:hover {
    transform: scale(1.1);    /* Zoom au survol */
}