/* Trait orange sous le lien actif */
.menu a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: orange;
    border-radius: 2px;
}

