header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #070320;
}

.header-container {
    padding: 0 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 50px;
    height: auto;
    transition: 0.3s ease-in-out;
    margin: 0px;
}

header img:hover {
    transform: scale(1.2);
    rotate: 10deg;
}

header .menu {
    display: flex;
    gap: 78px;
}

header .menu a {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    color: #ffffff;
    transition: 0.3s ease-in-out;
    display: inline-block;
}

header .menu a:hover {
    transform: scale(1.05);
    border-radius: 6px;
    color: orange;
}

header .menu a.active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%);
    width: 30%;
    height: 3px;
    background-color: orange;
    border-radius: 2px;
    transition: all 0.3s ease;
}
