/*header*/
header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #070320;
}
#bouton_Accueil, #bouton_Scores{
    text-decoration: none;
}

#bouton_Accueil:hover, #bouton_Scores:hover, #bouton_contact:hover{
    color: aqua;
}

.header-container{
    padding: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img {
    width: 100px;
    height: auto;
    transition: 0.3s ease-in-out;
}

header img:hover {
    transform: scale(1.05);
}

/*body*/
#exclu{
    color: #F80;
}

#bouton-commencer{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right ,#FF0000, #DD8600);
    color:#FFF;
}

#bouton-commencer:hover{
    transform: scale(1.05);
}

#bouton-commencer:active{
    transform: scale(1);
}
#bouton_contact {
    padding: 10px;
    border-radius: 6px;
    background-color: red;
    text-decoration: none;
}
 
/*ajustement de position*/
#div1{
    align-self: center;
}
#div2{
    align-self:first baseline;
}
#div3{
    align-self:last baseline;
}
#div4{
    align-self: center;
}
#div5{
    align-self: first baseline;
}
#div6{
    align-self: last baseline;
}
/*couleurs fond + texte*/

body {
    background-color: #070320;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding-top: 80px;
}


p, h1, a, h3, label{
    color: white;
}



/*Titre*/

.titre {
    margin: 100px auto 50px auto;
    width: 80%; 
    text-align: center;
}

.titre h3 {
    font-size: 33px;
}

.titre p {
    font-size: 16px;
    margin-top: 20px;
}



/*Infos*/

.infos {
    display: flex;
    justify-content: space-around;
    width: 60%;
}


/*Formulaire*/
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 64px;
    color: white;
}



/*Polices*/

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.ttf') format('truetype');
}



footer {
  color: #000; /* Texte en blanc */
  background-color: #FFF; /* Fond sombre pour le contraste */
  font-family: Arial, sans-serif; /* Police personnalisable */
  padding: 20px;
  text-align: center;
}

#valider{
    background-color:red;
    color: #FFF;
    border-radius: 6px;
    width: 80px;
    height: 30px;
}  